header {
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  align-items: center;
  z-index: 1;
  background-color: white;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo span {
  padding: 10px;
  color: MediumAquamarine;
}

.content {
  display: flex;
  width: 100%;
  border: 2px solid black;
  padding-top: 116px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  flex-grow: 1;
}

.column.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
  display: flex;
}

.column.small {
  width: 240px;
  border: 1px solid black;
  display: flex;
}

.maincontent #leadphotocontent {
  border: 1px solid black;
}

.maincontent #leadcontent {
  border: 1px solid black;
}

.story {
  border: 1px solid black;
}

.phototext {
  border: 1px solid black;
}
